body{
    background-color: #800000;
    /* background-image: url("./src/marvel.jpg"); */
}
.card-details{
    color: blue;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}
